h1 
{
    color: skyblue;
    font-size: 30px;
    font-family: Helvetica;
    text-align: left;
    float: left;
}

body
{
    background-color: darkslateblue;
    background-image: url("background.png");
    height: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navigationBar
{
    float: right;
}

.navigationBar ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigationBar li 
{
    display: inline-block;
    border: 1px solid lightgoldenrodyellow;
}

.navigationBar li a
{
    color: lightgoldenrodyellow;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 18px;
}

h2
{
    color: black;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

p
{
    color: white;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
}